<mat-toolbar color="primary" class="nav-container">
  <nav class="nav-links">
    <a mat-button routerLink="/homePage" routerLinkActive="active">HomePage</a>
    <a mat-button routerLink="/coursesForAll" routerLinkActive="active">Course List</a>
    <a mat-button routerLink="/coursesForTeacherManager" routerLinkActive="active">Teachers and Manager</a>
    <a mat-button routerLink="/myCourses" routerLinkActive="active">My courses</a>
  </nav>
</mat-toolbar>
<div class="profile-circle">{{ userName ? userName.charAt(0).toUpperCase() : 'A' }}</div>


<router-outlet></router-outlet>